body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex; /* Permite centralizar o container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o body ocupar a altura total da tela */
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
form input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}
form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0056b3;
}

/* Adiciona a nova "janelinha" para centralizar os usuários */
#container {
    padding: 20px;
    max-width: 1200px; /* Largura máxima */
    width: 100%; /* Faz o container se ajustar */
    text-align: center;
}

#lista-container{
    padding: 30px;
    background-color: #fff; /* Fundo branco */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}



/* Caixa de cada usuário */
.user-item {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Preenche a largura dentro do container */
    text-align: left;
}

/* Botões dentro de cada item */
.user-item button {
    margin-left: 10px;
    padding: 5px 10px;
}
.user-actions{
    display: flex;
    gap: 10px;
}

.edit-button, .delete-button{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.edit-button {
    background-color: #ffc107;
    color: black;
}
.edit-button:hover {
    background-color: #d17f1a;
    color: black;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}
.delete-button:hover {
    background-color: #96016e;
    color: white;
}

/*tabela*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#usuarioSenha{
    word-break: break-word; /* Quebra o texto longo */
    white-space: normal; /* Permite quebras de linha */
    max-width: 400px; /* Define um tamanho máximo */
    overflow-wrap: break-word; /* Garante que o texto se ajuste */
}
th {
    background-color: #F0F0F0;
}